* {
  border-radius: 0;
}

input[type='date'] {
  border: rgb(19, 185, 177) solid 1px;
  min-width: 200px;
  padding: 5px;
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
  accent-color: rgba(159, 230, 226, 0.863);
}

select[name='patrimoine'] {
  border: rgb(19, 185, 177) solid 1px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

button {
  border: rgb(19, 185, 177) solid 1px;
  background-color: rgba(185, 223, 221, 0.863);
  padding: 7px 10px;
  border-bottom: none;
  font-weight: bold;
}

button:hover {
  background-color: rgba(159, 230, 226, 0.863);
  padding: 7px 10px;
  border: black solid 1px;
  border-bottom: none;
  font-weight: bold; 
  cursor: pointer;
}


ul, li {
  padding: 0;
  margin: 0;
}
.main {
  padding: 0 10px;
}

.date-range p {
  display: inline-block;
  margin: 0 5px;
}

.flux-log {
  border: #282c34 1px solid;
  border-bottom: none;
  max-width: 550px;
  height: 40%;
  padding: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;

}

.flux-log li {
  word-wrap: break-word;
}

.date-range p {
  font-weight: bold;
}

label {
  font-weight: bold;
}

.title {
  display: inline-block;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.header > p {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxes {
  margin: 5px 0;
}

.date-range {
  margin: 10px 0;
}

.sidebar {

}

ul, li {
  list-style: none;
}

img {
  max-height: 650px;
}