ul, li {
  padding: 0;
  margin: 0;
}
.main {
  padding: 0 10px;
}

.date-range p {
  display: inline-block;
  margin: 0 5px;
}

.flux-log {
  border: #282c34 1px solid;
  border-bottom: none;
  max-width: 550px;
  height: 40%;
  padding: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;

}

.flux-log li {
  word-wrap: break-word;
}

.date-range p {
  font-weight: bold;
}

label {
  font-weight: bold;
}

.title {
  display: inline-block;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.header > p {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxes {
  margin: 5px 0;
}

.date-range {
  margin: 10px 0;
}

.sidebar {

}

ul, li {
  list-style: none;
}

img {
  max-height: 650px;
}